@use "veriables" as v;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: v.$main-ff;
}

img {
  display: block;
  height: auto;
}

.dark-mode {
  --main-color: #fff;
  --extra-color: #fff;
  --links-color: #6b50ff;
  --text-color: #d6d6d6;
  --bg-color: #211f25;
  --extra-bg-color: #211f25;
  --article-bg-color: linear-gradient(35deg, #1a1822 0%, #9040e3 100%), #6b50ff;
}