@use "../veriables" as v;
@use "../mixins" as m;

/* Software section styles started */

.software {
  padding: 0 0 80px;
  text-align: center;
}

.software__text {
  max-width: 345px;
  margin: 0 auto;
}

.software__title {
  @include m.default-text(10px, $fz:31px, $fw:700, $lh:42px);
  letter-spacing: -0.36px;
  color: v.$main-color;
}

.software__desc {
  @include m.default-text(30px, $lh:22px);
  letter-spacing: 0.16px;
  color: v.$text-color;
}

.software__list {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

.software__item {
  padding: 16px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.software__item-img {
  max-width: 357px;
  width: 100%;
  margin: 0 auto 33px;
}

.software__item:hover {
  background-color: v.$li-bg-color;
}

.software__subtitle {
  @include m.default-text(16px, $fz:32px, $fw:700, $lh:120%);
  color: v.$main-color;
}

.software__inner-desc {
  @include m.default-text(40px, $lh:155%);
  color: v.$text-color;
}

.software__link {
  @include m.default-text(0, $fw:500, $lh:155%);
  letter-spacing: 0.32px;
  color: v.$main-color;
  text-decoration: none;
}


@include m.responsive(375px) {
  .software__title {
    font-size: 36px;
  }

  .software__item {
    &::before {
      width: 343px;
    }
  }
}

@include m.responsive(650px) {
  .software__item {
    display: flex;
    align-items: center;
    column-gap: 30px;
    &::before {
      flex-shrink: 1;
    }
  }

  .software__item-img {
    width: auto;
  }

  .software__item-inner {
    flex-shrink: 3;
    text-align: left;
  }

  // .software__subtitle {
  //   text-align: left;
  // }

  // .software__inner-desc {
  //   text-align: left;
  // }
}

@include m.responsive(1024px) {
  .software {
    padding: 0 0 100px;
  }
  
  .software__list {
    @include m.layout;    
  }

  .software__item {
    display: block;
    max-width: 33vw;
    border-radius: 8px;
    background-color: transparent;
    @include m.transition(background-color color);
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:hover {
      background-color: v.$li-bg-color;
      .software__link {
        color: v.$links-color;
      }
    }
    &::before {
      width: auto;
    }
  }

  .software__item-inner {
    text-align: center;
  }
  .software__item-img {
    width: 100%;
    height: 300px;
  }
}

@include m.responsive(1280px) {
  .software__list {
    column-gap: 32px;
  }

  .software__item {
    max-width: 405px;
  }
}
/* Software section styles finished */